body{
  background-color: orange;
}
a{
  text-decoration: none;
}
a:link{
  color: blue;
}
a:visited{
  color: red;
}
a:hover{
  color: orange;
}
a:focus{
  outline: 2px solid purple;
}
a:active{
  color: black;
}
.todo-list{
    top: 160px;
    margin-left: 35px;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 1;
  background-color: white;
}
.sub-item{
    border-bottom: 1px solid black;
}

.circulo1{
    margin-left: 35px;
    top: 175px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo2{
    margin-left: 35px;
    top: 177px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo3{
    margin-left: 35px;
    top: 179px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo4{
    margin-left: 35px;
    top: 181px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo5{
    margin-left: 35px;
    top: 183px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo6{
    margin-left: 35px;
    top: 185px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo7{
    margin-left: 35px;
    top: 187px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.circulo8{
    margin-left: 35px;
    top: 189px;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}
.espiral1{
    margin-left: 27px;
    top: 9px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}
.espiral2{
    margin-left: 27px;
    top: 9px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}
.espiral3{
    margin-left: 27px;
    top: 8px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}
.espiral4{
    margin-left: 27px;
    top: 8px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}
.espiral5{
    margin-left: 27px;
    top: 8px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}
.espiral6{
    margin-left: 27px;
    top: 8px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}
.espiral7{
    margin-left: 27px;
    top: 6px;
    left: 1px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border-left: 4px solid black;
    border-radius: 50%;
}

